{% extends 'base.html.twig' %}
{% block title 'Produits' %}
{%  block body %}
    <div class="container mt-4">
        <h1>Liste des produits :</h1>
        <div class="container mt-3">

        </div>
        <table class="table table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th>Marque</th>
                <th>Genre</th> <!--constante -->
                <th>Prix</th>

            </tr>
            </thead>
            <tbody>
            {% for product in product %}
                <tr>
                    <td><a href=" {{ path('product.show', {id: product.id, slug: product.slug} )}}">{{ product.name | upper }}</a></td>
                    <td>{{ product.type }}</td>
                    <td>{{ product.brand }}</td>
                    <td>{{ product.getGenderType }}</td>
                    <td>{{ product.Price }}  €</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
